h1 {
  background-color: #c52a2ab4;
  color: #ffffff;
  margin: 1rem; }

.frase-principal {
  color: black;
  font-size: 4rem;
  margin: 1rem;
  background-color: #ffffff; }

@media (max-width: 700px) {
  .frase-principal {
    font-size: 40px; }
  .card-body {
    text-align: center; }
  .area-principal, .area-principal .imagen-index {
    display: inline-block; }
  .imagen-index {
    min-width: 8rem;
    min-height: 8rem; } }

.area-principal, .area-principal .imagen-index {
  align-items: center;
  text-align: center; }
  .area-principal .imagen-index {
    max-width: 600px;
    max-height: 600px;
    margin: 0.5rem;
    border-radius: 2rem;
    min-width: 190px; }

.descripcion {
  display: inline-block;
  text-align: center;
  text-justify: center;
  margin: 1rem;
  padding: 1rem;
  color: #ffffff;
  border-radius: 2rem; }

div .descripcion .p1 {
  color: #ffffff; }

.card-group {
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem; }

.card-img-top {
  max-width: 600px;
  max-height: 400px; }

.carousel {
  max-width: 600px;
  max-height: 800px; }

.main-reviews {
  display: inline-block;
  margin-top: 1rem;
  text-align: center; }
  .main-reviews .h2-reviews {
    display: block;
    text-align: center;
    margin-bottom: 1rem; }
    .main-reviews .h2-reviews .mapa {
      display: inline-block;
      justify-items: center; }

.main-reservas {
  background-color: #ffffff;
  margin-top: 1rem;
  text-align: center;
  align-items: center;
  justify-items: center; }
  .main-reservas .cuerpo-reservas {
    display: grid;
    grid-template-areas: "formu";
    text-align: center; }
  .main-reservas .formu {
    grid-area: formu; }

.main-politicas {
  text-align: center;
  margin-top: 1rem; }

.nav-link {
  border-radius: 1rem; }

.nav-link:hover {
  background-color: #ffffff;
  color: black;
  transition: 1s;
  border-radius: 2rem; }

div footer {
  text-align: center;
  padding: 2rem;
  font-size: small; }
  div footer .redes {
    padding: 1rem;
    background-color: none;
    transition: 0.5s; }
  div footer .redes:hover {
    background-color: #c52a2ab4;
    transform: scale(1.2); }
