.nav-link {
    border-radius: $border-radius*0.5;
    text-align: justify;
}

.nav-link:hover {
    background-color: $color-secundario;
    color: black;
    transition: 1s;
    border-radius: $border-radius;
}