.main-reservas {
    background-color: $color-secundario;
    margin-top: $margin;
    text-align: center;
    align-items: center;
    justify-items: center;

    .cuerpo-reservas {
        display: grid;
        grid-template-areas:
            "formu"
        ;
        text-align: center;
    }

    .formu {
        grid-area: formu;
        
        .btn {
            background-color: $color-primario;
            color: $color-secundario;
            margin-top: $margin;
        }
    }
}

.enlace-airbnb {
    display: flex;
    justify-content: center;

    .airbnb-embed-frame {

        display: flex;
        justify-content: center;
        min-width: 450px;
    }

}

@media (min-width: 375px) {
    .airbnb-embed-frame {
        min-width: 375px;
    }
}