.main-reviews {
    display: inline-block;
    margin-top: $margin;
    text-align: center;

    .h2-reviews {
        display: block;
        text-align: center;
        margin-bottom: $margin;

        .mapa {
            display: inline-block;
            justify-items: center;
        }
    }

    .resena-1 {
        max-width: 250px;
        max-height: 200px;
    }

    .resena-2 {
        max-width: 250px;
        max-height: 200px;
    }

    .resena-3 {
        max-width: 250px;
        max-height: 400px;
    }
}